#space{
  height: 90px;
}

body {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
}

.auto-research-container {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.01);
    padding: 30px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.auto-research-container h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
        margin-top: 10px;
}

/* Form Styles */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: calc(100% - 50px);
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #444;
    transition: border-color 0.3s ease-in-out;
}
#search-type {
    color: #fff;

}


.select-dropdown {
    width: calc(100%  12px); /* Adjust the width to match the input field */
}

.form-control::placeholder {
    color: #D3D3D3;
    margin-right: 30px !important;
}

.form-control:focus {
    border-color: #FFB340;
    outline: none;
}

/* Button Styles */
.btn-primary {
    background-color: #FFB340;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

