body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-card {
    padding: 20px;
}

.logo-container {
    background-color: #007bff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
}

.logo {
    background-image: url('Bailey_logo.png'); /* Add your logo image path here */
    background-size: cover;
    width: 100%;
    height: 100%;
        border-radius: 50%;
}

h2 {
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px 0px 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color:  #FFB340;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fdc632;
}
.error-message {
    color: #ff0e0e !important;
}

.errorlist .nonfield {
    color: red !important;
    text-decoration: none !important;
}