#space{
  height: 90px;
}

body {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
}

.auto-research-container {
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.01);
    padding: 30px 15px 50px 15px;
    text-align: center;
    max-width: 800px;
        margin: 0 auto;

}

.auto-research-container h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* Form Styles */
.form-group {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.form-control {
    flex: 1;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #444;
    transition: border-color 0.3s ease-in-out;
}

#search-type {
    width: 150px; /* Adjust the width as needed */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;

}


.form-control::placeholder {
    color: #D3D3D3;
    margin-right: 30px !important;
}

.form-control:focus {
    border-color: #FFB340;
    outline: none;
}

/* Button Styles */
.btn-primary {
    background-color: #FFB340;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    float: right; /* Move the button to the right */
}

.btn-primary:hover {
    background-color: #ffdb58;
}

/* Custom CSS for side-by-side layout */
.dropdowns-group {
    display: flex;
    justify-content: flex-end; /* Align the dropdowns to the right */
    margin-top: 20px;
    * Add margin to separate from the button */
}

.dropdowns-group .form-group {
    flex: 1;
    margin: 5px;
}

.select-dropdown {
    width: 100%;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #444;
    transition: border-color 0.3s ease-in-out;
}

.form-control::placeholder {
    color: #D3D3D3;
    margin-right: 30px !important;
}

.form-control:focus {
    border-color: ##FFB340;
    outline: none;
}
/* Add your custom styles for the table here */
/* Reset some default styles */
body, table {
    font-family: Arial, sans-serif;
    margin-bottom: 250px;
}

/* Table Styles */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    max-height: 400px;

}

.custom-table th, .custom-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #fff;
    margin: 20px;
}

.custom-table th {
    background-color: #FFB340;
    color: #333;
}

.table_card{
    background-color: #444;
        border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.01);
    padding: 30px 15px 50px 15px;
    text-align: center;
    max-width: 800px;
        margin: 0 auto;
        margin-top: 20px;

}
.fb-table, .web-table {
    display: inline-block;
    max-height: 500px;
    overflow: auto; /* Add a scrollbar if the content overflows the max height */
}

.custom-table tr:hover {
    background-color: #444;
}

/* Checkbox Styles */
.select-row {
    cursor: pointer;
}

/* Button Styles */
.edit-button, .delete-button, .export-button, .save-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    background-color: #3498db;
    color: #fff;
    margin-right: 5px;
}


.save-button {
    background-color: #2ecc71;
    color: #fff;
    margin-right: 5px;

}


.delete-button {
    background-color: #e74c3c;
    color: #fff;
    margin-right: 5px;
    margin: 5px;
}

.export-button {
    background-color: #2ecc71;
    color: #fff;
    float: left;
    margin: 10px;
}

/* Button Hover Effect */
.edit-button:hover, .delete-button:hover, .export-button:hover, .save-button:hover {
    opacity: 0.8;
}
     #website-link {
            max-width: 200px; /* Adjust the maximum width as needed */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }

#website-link {
    text-decoration: none; /* Remove underlines from truncated links */
    color: #007bff; /* Change link color as needed */
}
     #website-link2 {
            max-width: 200px; /* Adjust the maximum width as needed */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }

#website-link2 {
    text-decoration: none; /* Remove underlines from truncated links */
    color: #007bff; /* Change link color as needed */
}

/* Style for link when hovered */
#website-link:hover {
    text-decoration: underline; /* Add underline on hover if desired */
}

.table-container {
 max-height: 500px;
    overflow-y: auto;
}

